<nav id="top-menu">
    <main>
        <div id="toggle-top-menu">Menu</div>
        <ul class="menu">
            <li class="menu-item menu-item-top">
                <a href="#">
                    Contato 
                </a>
            </li>
            <li class="menu-item menu-item-top">
                <a href="#">
                    Sobre 
                </a>
            </li>
            <li class="menu-item menu-item-top">
                <a href="{{site.fb_url}}" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="menu-item menu-item-top">
                <a href="{{site.twitter_url}}" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="menu-item menu-item-top">
                <a href="{{site.gplus_url}}" target="_blank">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
            <li class="menu-item menu-item-top">
                <a href="{{site.youtube_url}}" target="_blank">
                    <i class="fa fa-youtube-play"></i>
                </a>
            </li>
        </ul>
    </main>
</nav>
<header id="site-header">
    <a href="{{site.url}}">
        <img id="site-header-logo" src=""></img>
    </a>
</header>
