#site-footer {
  margin-top: 20px;
  width: 100%;
}

#site-info {
  background: #222;
  color: #fff;
  padding: 20px;
  width: 100%;

  > .container {
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);

    text-align: center;
  }

  a {
    color: #fff;
    @include transition(all .1s ease-in-out);

    &:hover {
      color: #606060;
    }
  }
}

#ads-bottom {
  text-align: center;
}
