#top-menu {
  background: $primaryColor;
  font-size: 13px;

  > main {
    @include display-flex;

    color: #fff;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

    > .menu {
      margin-left: auto;
    }
  }
}

#toggle-top-menu, #toggle-main-menu {
  display: none;
}

.menu-toggled:before {
  content: "\f00d" !important;
}

.menu-item-top {
  cursor: pointer;
  display: inline-block;

  &:hover {
    background: $secondaryColor; 
  }

  > a {
    display: inline-block;
    line-height: 45px;
    min-width: 15px;
    padding: 0 20px;
    text-align: center;
  } 
}

#site-header {
  background: #fff;
  max-width: 100%;
  padding: 20px 0;

  margin-bottom: 20px;
  
  > .container {
    @include display-flex;
    @include flex-direction(row);
  }
}

#site-header-logo {
  background: url('../img/programai-header-logo.png');
  background-size: 100% auto;
  height: 54px;
  width: 300px;
}

#main-menu {
  @include display-flex;
  @include align-items(center);

  margin-left: auto;

  a {
    transition: none;
  }
}

.mainmenu-item {
  &:hover {
    background: $secondaryColor; 
    color: #fff;
  }

  > a {
    display: inline-block;
    line-height: 55px;
    padding: 0 20px;
  }

  display: inline-block;
  text-align: center;
}

#ads-top {
  text-align: center;
}
