.post {
  background: #fff;
  margin-bottom: 20px;  
  padding: 40px;  
  max-width: 100%;
}

.post-title {
  font-family: inherit;
  font-size: 40px;
  font-weight: 300;
}

.post-meta {
  color: #666;
  font-family: inherit;
  font-size: 85%;

  a {
    color: inherit;
    @include transition(all .1s ease-in-out);

    &:visited {
      color: inherit;
    }

    &:hover {
      color: #1E73BE;
    }
  }
}

.post-image-wrapper {
  text-align: center;
}

.post-image, .section-image {
  height: auto;
  width: 100%;
}

.ads-toppost-left {
  margin: 0 10px 10px 0;
  float: left;
  max-width: 100%;
}

.post-figure {
  margin: auto;
  width: 400px;
  max-width: 100%;

  &.medium {
    width: 600px;
  }

  > .caption {
    background: rgba(0,0,0,0.7);
    color: #fff;
    font-size: 12px;
    padding: 8px 10px;
  }
}

.responsive-image {
  display: block;
  width: 100%;
  height: auto;
}

.post-comments {    
  background: #fff;
  padding: 40px;  
  max-width: 100%;
  margin-bottom: 20px;
}

.comments-link {
  &:before {
    content: "\f075";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    position: relative;
    margin-right: 5px;
    width: 13px;
    text-align: center;   
  }
}

.post-category {
  &:before {
    content: "\f07b";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    position: relative;
    margin-right: 5px;
    width: 13px;
    text-align: center;
  }
}

.post-tags {
  &:before {
    content: "\f02c";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    position: relative;
    margin-right: 5px;
    width: 13px;
    text-align: center;
  }
}

.post-footer {  
  &:before {
    border-top: 1px solid #ddd;
    content: '';
    display: block;                
    margin: 20px 0;
    width: 100%;
  }
}

.share-bar-footer {
  > div {
    font-weight: bold;
    margin: 20px 0;
  }
}

.post-navigation {
  border-top: 1px solid #ccc;
  margin-top: 30px;

  > a {
    color: #666;
    display: block;
    margin-top: 10px;
    padding: 10px 0;
    width: 49%;

    &:hover {
      color: #1e73be;
    }
  }

  .previous-post {
    float: left;
    text-align: left;

    &:before {
      content: "\f0d9";
      display: inline-block;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      margin-right: 5px;        
      position: relative;    
      width: 13px;    
      text-align: center;
      text-decoration: inherit;
    }    
  }

  .next-post {
    border-left: 1px solid #ccc;
    float: right;
    text-align: right;

    &:after {
      content: "\f0da";
      display: inline-block;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      margin-right: 5px;        
      position: relative;    
      width: 13px;    
      text-align: center;
      text-decoration: inherit;
    }    
  }
}

.author-data {
  display: flex;
  flex-wrap: wrap;

  h3 {
    width: 100%;
  }

  .author-image, .author-attributes {
    vertical-align: top;
  }

  .author-attributes {
    width: calc(80% - 10px);
  }

  .author-image {
    margin-right: 10px;
    width: 20%;
  }

  .author-name {
    margin: 0;
  }

  .author-description {
    margin-top: 20px;
  }

  .author-fb {
    background: url(../img/social/facebook.png) no-repeat center;
  }

  .author-twitter {
    background: url(../img/social/twitter.png) no-repeat center;
  }

  .author-linkedin {
    background: url(../img/social/linkedin.png) no-repeat center;
  }

  .author-gplus {
    background: url(../img/social/gplus.png) no-repeat center;
  }

  .author-github {
    background: url(../img/social/github.png) no-repeat center;
  }

  .author-social-profile {
    background-color: #1E72BD;
    display: inline-block;
    height: 40px;
    transition: background-color 0.2s ease-in-out 0s;
    width: 40px;

    &:hover {
      background-color: #777;
    }
  }
}

@media screen and (max-width: 480px) {
  .ads-toppost-left {
      display: none;
  }
}

@media screen and (max-width: 768px) {
  .post {
    padding: 40px 30px 40px 30px;
  }
  
  .post-title {    
    font-size: 30px;    
  }
}
