<head>  
  {{ if .Title }}
    <title>{{ .Title }}</title>
  {{ else }}
    <title>{{ .Site.Title }}</title>
  {{ end }}  

  <meta charset="utf-8">
  <link rel="canonical" href="{{ .Permalink }}">

  <meta name="description" content="{{ .Site.Params.Description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/programai.css">
  <link rel="stylesheet" href="/css/EnlighterJS.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
    rel='stylesheet' type='text/css'>

  <!-- Initialize EnlighterJS -->
  <meta name="EnlighterJS" content="Advanced javascript based syntax highlighting" 
    data-indent="2" 
    data-selector-block="pre" 
    data-selector-inline="code"/>
</head>