<div class="main-content">    
  <article class="post">
    <header class="post-header">
      <ol xmlns:v="http://rdf.data-vocabulary.org/#" class="breadcrumb">
        <li typeof="v:Breadcrumb"><a href="{{ .Site.BaseURL }}" rel="v:url" property="v:title">Início</a> » </li>
        {{ if .Params.categories }}        
          {{ range .Params.categories }}          
          <li typeof="v:Breadcrumb">
            <a 
              href="{{ "/categories/" | absLangURL }}{{ . | urlize }}" 
              rel="v:url" 
              property="v:title">
              {{ . }}
            </a> » 
          </li>
          {{ end }}        
        {{ end }}                           
        <li>{{ .Title }}</li>
      </ol>

      <h1 class="post-title">{{ .Title }}</h1>    
      <p class="post-meta">        
        <time class="post-date">
          {{ .Date.Day }} de {{ index .Site.Params.Months (printf "%d" .Date.Month) }} de {{ .Date.Year }}
        </time>

        por <span class="post-author">
        {{ if .Params.Author }}
        <a href="{{ .Params.Author.URL }}" target="_blank">
          <span class="author-name">{{ .Params.Author.Name }}</span>
        </a>
        {{ else }}
        <a href="{{ .Site.Params.Author.URL }}" target="_blank">
          <span class="author-name">{{ .Site.Params.Author.Name }}</span>
        </a>
        {{ end }}
        </span>      
      </p>

      <div class="addthis_inline_share_toolbox"></div>

      {{ if .Params.Image }}
      <div class="post-image-wrapper">
        <meta content="{{ .Params.Image | absURL }}">
        <img src="{{ .Params.Image }}" alt="{{ .Title }}" class="post-image">
      </div>
      {{ end }}
    </header>

    <main class="post-content">
      <div class="ads-toppost-left">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Retângulo float esq. início post. -->
        <ins class="adsbygoogle"
          style="display:inline-block;width:336px;height:280px"
          data-ad-client="ca-pub-8829411195649661"
          data-ad-slot="6654796833"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      {{ .Content | emojify }}

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Final Conteúdo -->
      <ins class="adsbygoogle" 
        style="display:block" 
        data-ad-client="ca-pub-8829411195649661" 
        data-ad-slot="3230972433" 
        data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </main> 

    <footer class="post-footer">
      <div class="post-meta">
        {{ if .Params.categories }}
        <div class="post-category">                            
          {{ range last 1 .Params.categories }}
          <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </div>
        {{ end }}   

        {{ if .Params.tags }}
        <div class="post-tags">
          {{ $len := sub (len .Params.tags) 1 }}
          {{ range $index, $tag := .Params.tags }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ if lt $index $len }},{{ end }}
          {{ end }}
        </div>          
        {{ end }}
      </div>

      <div class="share-bar-footer">
        <div>Compartilhe</div>
        <div class="addthis_inline_share_toolbox_7cg1"></div>
      </div>   

      <div class="addthis_relatedposts_inline"></div>   

      <div class="post-navigation">
        {{ if .PrevInSection }}
        <a class="previous-post" href="{{ .PrevInSection.URL }}">{{ .PrevInSection.Title }}</a>
        {{ end }}

        {{ if .NextInSection }}
        <a class="next-post" href="{{ .NextInSection.URL }}">{{ .NextInSection.Title }}</a>
        {{ end }}

        <div style="clear: both"></div>
      </div>
    </footer>       
  </article>  

  <div class="post-comments">
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = '{{ if .Params.disqus_url }}{{ .Params.disqus_url}}{{ else }}{{ .URL }}{{ end }}';
        this.page.identifier = '{{ .Params.disqus_identifier }}';
      };
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//programai.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>  
  </div>
</div>
