<div class="sidebar-widget fb-page-widget">
  <div class="fb-page" 
    data-href="https://www.facebook.com/programaiblog" 
    data-small-header="false" 
    data-adapt-container-width="true"
    data-hide-cover="false" data-show-facepile="true">
    <div class="fb-xfbml-parse-ignore">
      <blockquote cite="https://www.facebook.com/programaiblog">
        <a href="https://www.facebook.com/programaiblog">Programa Aí</a>
      </blockquote>
    </div>
  </div>
</div>

<div class="sidebar-widget adsense-widget">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Barra lateral 1 -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-8829411195649661"
      data-ad-slot="7102768834"
      data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>