--- 
layout: home 
---

<div id="post-list">  
  {% for post in paginator.posts %}  
  <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      <h2 itemprop="headline"><a href="{{ post.url }}">{{ post.title }}</a></h2>      
      <p class="post-meta">
        <span class="post-date" itemprop="datePublished">
          {{ post.date | localize: "%d de %B de %Y" }}
        </span>

        por <span class="post-author" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
        {% if post.author %} 
        <a href="{{post.author.url}}" target="_blank" itemprop="url">
          <span class="author-name" itemprop="name">{{ post.author.name }}</span>
        </a>
        {% else %}
        <a href="{{site.author.url}}" target="_blank" itemprop="url">
          <span class="author-name" itemprop="name">{{ site.author.name }}</span>
        </a>
        {% endif %}
        </span>
        {% if post.meta %} • {{ post.meta }}{% endif %}
      </p>

      {% if post.image %}
      <div class="post-image-wrapper">
        <a href="{{ post.url }}">
          <img src="{{site.url}}{{post.image}}" alt="{{post.title}}" class="post-image">
        </a>        
      </div>
      {% endif %}
    </header>

    <main class="post-content" itemprop="articleBody">      
      {{ post.content | get_post_excerpt }} 
      {% if post.content | post_contains_excerpt_tag %} 
        ... <a href="{{ post.url }}">Ler mais</a>    
      {% endif %}
    </main>
    
    <footer class="post-meta">
      <div class="post-category">
        {% assign pcaturl="" %}
        {% for cat in post.categories%}
        {% assign pcat=cat %}      
        {% endfor %}
        <a href="{{site.url}}/{{post.categories | join: '/'}}">{{pcat | capitalize}}</a>
      </div>
      {% if post.tags %}
      <div class="post-tags">
        {% for tag in post.tags %}          
          <a href="{{site.url}}/tag/{{tag | url_encode }}/">{{tag}}</a>{% if forloop.last != true %},{% endif %} 
        {% endfor %}        
      </div>          
      {% endif %}            
      <div class="comments-link">        
        <a href="{{ site.url}}/{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}"></a>
      </div>
    </footer>
  </article>
  {% endfor %}
  
  {% if paginator.previous_page or paginator.next_page %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Posts mais recentes</a> 
    {% else %}
    <span class="previous">Posts mais recentes</span> 
    {% endif %}
    
    <span class="page_number ">
      Página: {{ paginator.page }} de {{ paginator.total_pages }}
    </span> 
    
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Posts mais antigos</a> 
    {% else %}
    <span class="next ">Posts mais antigos</span> 
    {% endif %}
    <div style="clear: both"></div>
  </div>
  {% endif %}
</div>
